</html>    
 <!DOCTYPE html>
  <html lang="ru">
    <head>
        <meta charset="utf-8" />
<title>Расписание</title>
</head>
<body bgcolor="#fefeff">
<table border="10" bordercolor="#cfd4ff" width="800" align="center"> 
<tr> 
<td bgcolor="#cfd4ff"> 
<!--Шапка сайта.-->

<table border="1" bordercolor="#8895ff" width="800" height="300"
 cellpadding="5"> 
<tr> 
<th background="https://i.ytimg.com/vi/OWdOCaC3vg4/hqdefault.jpg"> 

</th> 
</tr> 
</table> 

 
<table border="1" bordercolor="cc215a" width="790" cellpadding="10"> 
<tr> 
<td rowspan="4" width="600" bgcolor="e6e6fa"> 
<h3>ФИИТ, 61 группа, 2018</h3> 


<table width="90%" border="1" cellspacing="1">
<caption>Расписание экзаменов летней сессии 2018.</caption>
 
  <tr>
    <td align="center">Предмет</td>
    <td align="center">Дата консультации</td>
    <td align="center">Дата экзамена</td>
    <td align="center">Ауд</td>
 </tr>
 
   <tr>
    <td align="center">Английский язык</td>
    <td align="center">30.05.2018</td>
    <td align="center">31.05.2018</td>
    <td align="center">232</td>
 </tr>
 
  <tr>
    <td align="center">Операционные системы</td>
    <td align="center">12.06.2018</td>
    <td align="center">13.06.2018</td>
    <td align="center">-----</td>
 </tr>
 
  <tr>
    <td align="center">Экономика</td>
    <td align="center">16.06.2018</td>
    <td align="center">18.06.2018</td>
    <td align="center">-----</td>
 </tr>
  <tr>
    <td align="center">Базы данных</td>
    <td align="center">21.06.2018</td>
    <td align="center">22.06.2018</td>
    <td align="center">----</td>
 </tr>

</table>

<!--Some useful comment-->

<p style="text-indent:20px"><span style = "font-size: 30px;">
 <font face="Monotype Corsiva"> <font color="cc215a">
<strong></strong></font></font></span> 
</td> 
<td bgcolor="e6e6fa" align="left"> 

</td> 
</tr> 
<tr> 
<td bgcolor="e6e6fa" align="center"> 
</td> 
</td> 
</tr> 
</tr> 
</table> 
</table> 
</body> 
</html>